@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url("https://cdnjs.cloudflare.com/ajax/libs/prism/9000.0.1/themes/prism-funky.min.css"); */

html {
  font-family: serif;
}

a {
  font-weight: bold;
  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }
}

@layer components {
  .text-title {
    @apply font-bold text-4xl sm:text-4xl md:text-5xl tracking-tight lg:text-[72px] font-display relative before:-translate-x-1 before:-translate-y-1 before:content-['adam_fratino'] before:absolute before:text-[tomato] before:-z-[1] before:left-0 after:translate-x-1 after:translate-y-1 after:content-['adam_fratino'] after:absolute after:text-[gold] after:-z-[1] after:left-0;
    &::before,
    &::after {
      -webkit-text-stroke: 1px black;
    }
  }

  .text-paragraph {
    @apply leading-normal mb-4 last:mb-0;
  }
}
